<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="varForm">
    <form action="/endpoint3" method="post">


        </form>
        <tr th:each="variable : ${variables}">
          <td>
              <label th:for="${variable}" th:text="${variable}"></label><br>
            <input type="text" th:id="${variable}" th:name="${variable}" th:value="0"/><br>
          </td>
        </tr>
        <input name="varNames" type="text" value="podaj wartości"/>

        <button type="submit">Wyślij</button>
    </form>



</div>
</body>
</html>