<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="varForm">
  <form action="/settaskvars6" method="post">
    <label for="varmin" >Podaj minimalną wartość przedziału losowego wartości zmiennych</label><br>
    <input type="number" id="varmin" name="varmin" value="0"/><br>
    <label for="varmax" >Podaj maksymalną wartość przedziału losowego wartości zmiennych</label><br>
    <input type="number" id="varmax" name="varmax" value="0"/><br>


    <button type="submit">Potwierdź</button><br>
  </form>



</div>
</body>
</html>