<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zadania</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

</head>
<body>
<p class="text-center fs-1" style="margin-top: 80px">Przydziel wartości zmiennych i pracowników do zadań</p>
<div class="container">
  <form action="/settaskvars7" method="post">
    <label class="form-label" for="var" >Podaj wartość zmiennych</label><br>
    <input class="form-control" type="number" id="var" name="var" value="0"/><br>
    <div style="margin-top: 40px" th:each="task : ${tasks}">
      <p class="fs-3" th:text="'Przydziel pracownika do zadania ' + ${task.taskName}"></p>
      <div class="form-check" th:each="assignee : ${assignees}">
        <input class="form-check-input" type="radio" th:id="${task.taskId} + ${assignee}" th:name="${task.taskId} +',assignee'" th:value="${assignee}">
        <label class="form-check-label" th:for="${task.taskId} + ${assignee}" th:text="${assignee}"></label><br>
      </div>
    </div><br>
    <button class="btn btn-primary" style="margin-bottom: 80px" type="submit">Potwierdź</button><br>
  </form>

</div>
</body>
</html>