<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="varForm">
  <form action="/settaskvars5" method="post">
    <label for="varmin" >Podaj minimalną wartość przedziału losowego wartości zmiennych</label><br>
    <input type="number" id="varmin" name="varmin" value="0"/><br>
    <label for="varmax" >Podaj maksymalną wartość przedziału losowego wartości zmiennych</label><br>
    <input type="number" id="varmax" name="varmax" value="0"/><br>
    <tr th:each="task : ${tasks}">
      <td th:text="${task.taskName}"></td>
      <br>
      <td>
        <p>Przydziel pracownika:</p>
        <p th:each="assignee : ${assignees}">
          <input type="radio" th:id="${task.taskId} + ${assignee}" th:name="${task.taskId} +',assignee'" th:value="${assignee}">
          <label th:for="${task.taskId} + ${assignee}" th:text="${assignee}"></label><br>

        </p>
      </td>
    </tr><br>

    <button type="submit">Potwierdź</button><br>
  </form>



</div>
</body>
</html>